<div class="container-column">
      <div class="container-row">
        <button mat-button>Button 1</button>
        <button mat-raised-button>Button 2</button>
        <button mat-flat-button>Button 3</button>
        <button mat-stroked-button>Button 4</button>
      </div>
      <div class="container-row">
        <button mat-icon-button>Icon</button>
        <button mat-fab>Fab</button>
        <button mat-mini-fab>Mini fab</button>
      </div>
      <div class="container-row">
        <button mat-icon-button color="primary">Icon</button>
        <button mat-fab color="accent">Fab</button>
        <button mat-mini-fab color="warn">Minifab</button>
      </div> 
      <div class="container-row">
          <button mat-raised-button color="primary">Primary Color</button>
          <button mat-raised-button color="accent">Accent Color</button>
          <button mat-raised-button color="warn">Warn Color</button>
          <button mat-button disableRipple color="warn">Warn Color DisabledRipple</button>
      </div>
</div>
