<div class="container-column">
    <div class="container-row">
      <mat-icon aria-hidden="false">home</mat-icon>
      <mat-icon aria-hidden="false">computer</mat-icon>
      <mat-icon aria-hidden="false">headset</mat-icon>
      <mat-icon aria-hidden="false">memory</mat-icon>
    </div>
    <div class="container-row">
      <mat-icon  aria-hidden="false">local_airport</mat-icon>
      <mat-icon  aria-hidden="false">local_cafe</mat-icon>
      <mat-icon  aria-hidden="false">local_pizza</mat-icon>
      <mat-icon  aria-hidden="false">place</mat-icon>
    </div>
</div>