<!-- <button class="button-menu" mat-raised-button [matMenuTriggerFor]="menu" color="accent">Menu</button> -->
<mat-toolbar>
<!-- <div class="header"> -->
<mat-icon class="button-menu" mat-raised-button [matMenuTriggerFor]="menu" color="accent">menu</mat-icon>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/button">BUTTONS</button>
  <button mat-menu-item routerLink="/button/buttontoggle">BUTTONS > TOGGLE</button>
  <button mat-menu-item routerLink="/icon">ICONS</button> 
  <button mat-menu-item routerLink="/typography">TYPOGRAPHY</button>
  <button mat-menu-item routerLink="/spinners">SPINNERS</button>
  <button mat-menu-item routerLink="/badges">BADGES</button>
  <button mat-menu-item routerLink="/paginator">PAGINATOR</button>
</mat-menu>

<!-- align="center" end-->
<h2 class="title">ESTUDO DE ANGULAR MATERIAL</h2>
<!-- </div> -->
<span class="space-elemento"></span> 
<div class="buttonicon">
<button  mat-icon-button >
  <mat-icon (click)="alert()">favorite</mat-icon>
</button>
<button  mat-icon-button >
  <mat-icon (click)="alert()">share</mat-icon>
</button>
</div>
</mat-toolbar>
<mat-divider></mat-divider>
<router-outlet></router-outlet>