<div class="container-column">
    <div class="mat-display-4">Display 4</div>
    <div class="mat-display-3">Display 3</div>
    <div class="mat-display-2">Display 2</div>
    <div class="mat-display-1">Display 1</div>
</div>


<div class="container-column">
    <div   class="mat-headline">H1</div>
    <div   class="mat-title">H2</div>
    <div   class="mat-subheading-2">H3</div>
    <div   class="mat-subheading-1">H4</div>
</div>


<div class="container-column">
    <div  class="mat-body-1">Body Text</div>
    <div  class="mat-body-2">Bold body Text</div>
    <div  class="mat-caption">Caption text</div>
</div>

